In [14]:
a = [1,2,3,4,5,6,7]
for num in a:
  print(num)

1
2
3
4
5
6
7

In [18]:
a = [1,2,3,4,5,6,7]
for num in a:
  if num == 5:
    print ('stop!')
    break 
  print(num)

1
2
3
4
stop!

In [20]:
a = [1,2,3,4,5,6,7]
for num in a:
  if num == 5:
    print ('stop!')
    continue
  print(num)

1
2
3
4
stop!
6
7

In [21]:
for i in range(5): 
  print (i)

0
1
2
3
4

In [22]:
for i in range(2,5): 
  print (i)

2
3
4

In [48]:
x = 0
while x <10:
  if x == 5:
    print('numero quatro')
    break
  print (x)
  x += 1

0
1
2
3
4
numero quatro

In [50]:
x = 0
while True:
  if x == 5:
    break
  print (x)
  x += 1

0
1
2
3
4