In [5]:
  cursos = ['Historia','Portugues','Matematica','Ciencias']
  print(cursos)
  print(len(cursos))
  print(cursos[0]) #printa o primeiro curso da string 
  cursos.append('Artes') #adiciona um elemento 
  print(cursos)

['Historia', 'Portugues', 'Matematica', 'Ciencias']
4
Historia
['Historia', 'Portugues', 'Matematica', 'Ciencias', 'Artes']

In [9]:
cursos = ['Historia','Portugues','Matematica','Ciencias']
disciplinas = ['Geografia','Gramática']
cursos.insert(3,disciplinas) #concatena as duas strings em uma posição
print(cursos)
cursos.remove('Historia')
print (cursos) #remove um termo

['Historia', 'Portugues', 'Matematica', ['Geografia', 'Gramática'], 'Ciencias']
['Portugues', 'Matematica', ['Geografia', 'Gramática'], 'Ciencias']

In [11]:
cursos = ['Historia','Portugues','Matematica','Ciencias']
num = [1,34,7,9.1,80]
print(cursos)
print(num)

cursos.sort() #ordem alfabetica
num.sort() #ordem crescente
print(cursos)
print(num)

['Historia', 'Portugues', 'Matematica', 'Ciencias']
[1, 34, 7, 9.1, 80]
['Ciencias', 'Historia', 'Matematica', 'Portugues']
[1, 7, 9.1, 34, 80]

In [14]:
num = [1,34,7,9.1,80]
cursos = ['Historia','Portugues','Matematica','Ciencias']

print(min(num))
print(max(num))

1
80

In [17]:
cursos = ['Historia','Portugues','Matematica','Ciencias']
for x in cursos:
  print(x)

Historia
Portugues
Matematica
Ciencias