In [11]:
import datetime
tday=datetime.date.today() 
print(tday.day)
print(tday.month)
print(tday.year)

20
3
2021

In [13]:
import datetime
tday=datetime.date.today() 
tdelta = datetime.timedelta(days=7)
print(tday+tdelta)

2021-03-27

In [16]:
import datetime
tday=datetime.date.today() 
tdelta = datetime.timedelta(days=7)
bday = datetime.date(2021,12,29)
niver = bday-tday
print(niver.total_seconds()) # segundos restantes para o aniversario

24537600.0

In [18]:
import datetime 
t = datetime.time(9,30,45,1000)
print(t)
print(t.hour)
print(t.minute)

09:30:45.001000
9
30

In [19]:
import datetime 
hoje = datetime.datetime.today()
agora = datetime.datetime.now()
utc = datetime.datetime.utcnow()
print(hoje)
print(agora)
print(utc)

2021-03-20 12:21:12.384017
2021-03-20 12:21:12.384081
2021-03-20 12:21:12.384100

In [26]:
import datetime 
import pytz

dt = datetime.datetime(2022,8,26,12,30,45,100000)
tdelta = datetime.timedelta(hours=7)
print(dt.year)
print(dt.month)
print(dt+tdelta)

2022
8
2022-08-26 19:30:45.100000